.header {
  position: sticky;        
  top: 0;                  
  z-index: 1000;           
  background: #f5f6f8;     

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb;

  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header-left .logo {
  text-align: left !important;
}

.header-left .subtitle {
  text-align: left !important;
}

.logo {
  color: #ea580c;
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 13px;
  color: #6b7280;
  margin: 0;
  text-align: left;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-actions button {
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 13px;
}

.outline {
  background: #fff;
  border: 1px solid #ddd;
  color: black;
}

.cart {
  background: #ea580c;
  color: white;
  position: relative;
}

.cart-badge {
  margin-left: 6px;
  font-weight: 600;
}

.out {
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out img {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .header-actions {
    width: 100%;
    justify-content: space-between;
  }

  .header-actions button {
    flex: 1;
    font-size: 13px;
    padding: 10px;
  }

  .out {
    flex: 0;
    padding: 10px;
  }
}